<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
      <div class="card mr-3 ml-3">
      <div class="card-body">
        <form class="container" th:action="@{do_login}" method="post">
            <h1 class="text-center mt-3">Login Page</h1>
            <div th:if="${param.logout}" class="alert alert-danger">Logout Successfully</div>
            <div th:if="${param.error}" class="alert alert-danger ">Invalid Username and Password</div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">User Email address</label>
              <input 
                type="email"
                name="username" 
                class="form-control" 
                id="userName" 
                aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">User Password</label>
              <input 
                type="password" 
                name="password"
                class="form-control" 
                id="password">
            </div>
            <input type="submit" class="btn btn-primary btn-lg" value="Submit">
          </form>
      </div>
      </div>
    </section>
</body>
</html>